.professionals{
  display: flex;
  width: 100%;
  padding: 12.5rem 10% 0;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
  overflow: hidden;


  .professional{
    // max-width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle{
      position: absolute;
      top: 10%;
      left: 10%;
      background-color: var(--orange);
      opacity: .3;
      width: 22.75rem;
      height: 22.75rem;
      border-radius: 100%;
      z-index: -1;
    }

    img{
      flex: 1;
      max-width: 15.75rem;
    }
    h3{
      margin-top: 1.875rem;
    }

    p{margin-top: 2rem; max-width: 30rem; line-height: 160%; text-align: justify;}
  }
}

@media (max-width:1080px) {
  .professionals{
    padding: 12.5rem 5% 0;

    .professional{
      min-width: 100%;
      h3{
        font-size: 2rem;
      }
      .circle{
        top: 9%;
        left: 3%;
      }
    }
  }
}

@media (max-width:1080px) {
  .professionals{
    .professional{
      .circle{
        top: 9%;
        left: 0;
      }
    }
  }
}
@media (max-width:500px) {
  .professionals{
    .professional{
      .circle{
        top: 9%;
        left: -8%;
      }
    }
  }
}
