*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &:focus{
    outline: none;
  }
}

:root {
  --white: #F3F5FF;

  --gray-50: #F4F5F7;
  // --gray-100: #E6E8EB;
  // --gray-200: #AFB2B1;
  --gray-light: #808080;
  --gray: #494D4B;
  --black: #0B0D17;

  --green-500: #04D361;

  --orange: #23B5B5;
  --orange-2: #229797;
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%;
    overflow-x: hidden;
  }
}

@media (max-width: 1880px) {
  html{
    font-size: 87.5%;
  }
}

body{background-color: #FFF; max-width: 100vw;}

body, input, textarea, button{
  font: 500 1rem Manrope, sans-serif;
  color: var(--gray-light);
}

h1, h2, h3, h4, h5, h6{
  font-family: Manrope, sans-serif;
  color: var(--gray);
}

h1{
  font-size: 4.5rem;
  font-weight: 800;
}

h2{
  font-size: 3rem;
  font-weight: 800;
}

h3{
  font-size: 2.5rem;
  font-weight: 800;
}

h4{
  font-size: 1.5rem;
  font-weight: 600;
}

h5{
  font-size: 1rem;
  font-weight: 700;
}

p{
  font-size: 1.125rem;
}

button{
  cursor: pointer;
}
