.hero{
  background: linear-gradient(to top,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75)), url('/hero.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width:100%;
  padding: 0 10%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p, h1{
    color: var(--white);
    max-width: 50%;
  }

  p{
    line-height: 2rem;
    text-align: justify;
  }

  h1{
    margin-bottom: 2rem;
    line-height: 6.125rem;
  }
}

@media (max-width: 1080px) {
  .hero{

    background-position-x: 40%;
    p, h1{
      max-width: 90%;
    }
    h1{
      font-size: 3.25rem;
      line-height: 5.125rem;
    }
    p{
      line-height: 1.5rem;
    }
  }
}
@media (max-width: 768px) {
  .hero{

    h1{
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}
