.discover{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12.5rem 10% 0;
  gap: 1.25rem;


  .circle{
    position: absolute;
    top: 12.5%;
    right: 1rem;
    min-width: 45rem;
    min-height: 45rem;
    background-color: var(--orange);
    border-radius: 100%;
    z-index: -1;
    opacity: .30;
  }
  h2{
    min-width: 100%;
    flex: 1;
  }

  .card{
    position: relative;
    background-color: #fff;
    width: 23%;
    max-width: 22.5rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    border-radius: .5rem;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .4s ease;

    &::after, &::before{
      transition: .7s ease;
      opacity: .8;
      filter: blur(.8);
    }

    &::before{
      content: '';
      position: absolute;
      top: 2%;
      left: 2%;
      background-color: transparent;
      width: 50%;
      height: 50%;
      border-left: .3rem solid var(--orange);
      border-top: .3rem solid var(--orange);
      border-radius: .2rem;
      z-index: -1;
    }

    &::after{
      content: '';
      position: absolute;
      bottom: 2%;
      right: 2%;
      background-color: transparent;
      width: 50%;
      height: 50%;
      border-right: .3rem solid var(--orange);
      border-bottom: .3rem solid var(--orange);
      border-radius: .2rem;
      z-index: -1;
    }


    &:hover{
      &::after{
        bottom: -6.5%;
        right: -6.5%;
      }
      &::before{
        top: -6.5%;
        left: -6.5%;
      }
    }

    img{
      width: 2rem;
      background-color: #ddd;
      height: 2rem;
    }
  }
}

@media (max-width: 1080px){
  .discover{
    .card{
      width: 50%;
    }
  }
}
@media (max-width: 827px){
  .discover{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px){
  .discover{
    .circle{
      top: 5%;
      left: 3%;
    }
    .card{
      width: 100%;
      max-width: none;
    }
  }
}

