.contact{
  padding: 0 10%;
  margin: 15rem 0 7.5rem;
  border: 1px solid red;

  .contactCard{
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border-radius: 1rem;
    background: url('/contactBg.svg'), linear-gradient(var(--orange), var(--orange));
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1{
      color: var(--white);
      width: 50%;
      text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.16);
    }
  }
}

@media (max-width: 1369px){
  .contact{
    .contactCard{
      h1{
        font-size: 3rem;
      }
    }
  }
}


@media (max-width: 1080px){
  .contact{
    .contactCard{
      img{
        max-width: 10rem;
      }
    }
  }
}
@media (max-width: 768px){
  .contact{
    .contactCard{
      height: 35rem;
      flex-direction: column;
      h1{
        width: 100%;
        text-align: center;
      }
    }
  }
}
