.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: transparent;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    margin-left: auto;

    li {
      margin-left: 1.5rem;

      a {
        position: relative;
        padding: 1rem;
        font-size: 1.2rem;
        font-family: Manrope, sans-serif;
        font-weight: 400;
        letter-spacing: .05rem;
        text-decoration: none;
        color: var(--white);
        transition: .7s ease;

        &:hover {
          color: var(--orange);
        }
      }
    }
  }

  .burgerMenu {
    display: none;
    z-index: 9;
  }

  .menuOpen {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    transition: .7s ease;
    animation: burguerAnim .7s ease;
  }

  .menu {
    position: absolute;
    top: 0;
    display: none;
    right: -100vw;
  }

  .bgMenu {
    opacity: .4;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;


    li{
      margin-top: 2rem;
      a{
        font-size: 2.5rem;
      }
    }
  }

  .socialMedia {
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    img {
      width: 1rem;
      height: 1rem;
      background: #000;
    }
  }
}


@media (max-width: 768px) {
  .header {
    ul {
      display: none;
    }

    .burgerMenu {
      display: block;
    }
  }
}

@keyframes burguerAnim {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
